body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 34px;
  margin-bottom: 16px;
  padding: 16px 0;
  width: 100%;
  max-width: 640px;
}

h1 span {
  animation: colorChange 5s infinite;
}

#intro {
  width: 85%;
  text-align: center;
}

a {
  color: #0056b3;
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

textarea, input[type="submit"] {
  width: 100%;
  margin-top: 8px;
  box-sizing: border-box;
}

textarea {
  height: 250px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

input[type="submit"] {
  flex: 1;
  color: #fff;
  border: 1px solid #007bff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
}

#V7 {
  background-color: #CCC;
  color: #333;
  font-weight: 600;
}

#V7:hover {
  background-color:  #0056b3;
  border-color:  #0056b3;
  color: #FAFAFA;
}

#A7 {
  background-color: #999;
}

#A7:hover {
  background-color: #0818A8;
  border-color:  #0818A8;
}

#Rhyme7 {
  background-color: #666;
}

#Rhyme7:hover {
  background-color:  #000080;
  border-color:  #000080;
}

#Music7 {
  background-color: #333;
}

#Music7:hover {
  background-color: #000066;
  border-color: #000066;
}

input[type="submit"]:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

#explanation {
  margin-top: 15px;
  color: #333;
  font-style: italic;
}

.button-group {
  text-align: center;
  margin-top: 10px;
  display: flex;
}

.poems-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}

.poem {
  width: 48%; /* Each poem takes up nearly half the width of the container */
  padding: 10px;
  box-sizing: border-box;
  margin-top: 36px;
  min-width: 300px;
  color: #333;
  border-radius: 4px;
  text-align: left;
  word-wrap: break-word;
}


#result {
  background-color: #e6e6e6;
  border: 2px solid #FFFF00;
}

#original {
  background-color: #d3d3d3;
  border: 2px solid #0056b3;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.highlight {
  background-color: yellow;
}

.glow-on-hover {
  width: 25%;
  transition: filter 0.5s ease-in-out;
}

.glow-on-hover:hover {
  filter: drop-shadow(0 0 5px yellow);
  animation: growAndShake 0.5s ease-in-out;
}

#footnote {
  margin-top: 80px;
  width: 95%
  padding: 12px;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #818589;
}

#footnote p {
  font-size: 13px;
}

@keyframes colorChange {
  0% { color: #333; }
  20% { color: #666; }
  40% { color: #999; }
  60% { color: #CCC; }
  80% { color: #999; }
  100% { color: #666; }
}

@keyframes growAndShake {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}